<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.mapper.buyer.BuyerMapper">
	<!-- 상품 목록 -->
	<!-- 전체 출력 -->
	<select id="selectItemList" resultType="com.yedam.vo.ItemVO">
		select *
		from team_item
	</select>

	<!-- 검색&정렬 상품 목록 출력 -->
	<select id="sortItemList" resultType="com.yedam.vo.ItemVO" parameterType="com.yedam.vo.ItemListVO">
		select a.*
		from (select rownum rn, r.*
			  from ( select *
			  		 from team_item
				     <where>
					     categories = #{categories} 
					     and trade = #{trade} 
					     and game = #{game}
					     <if test="servers != null">
						     and servers = #{servers}
					     </if>
					     
					     <if test="searchData != null">
						     and ${searchType} like '%'||#{searchData}||'%'
					     </if>
				     </where>
				     <if test="sort != null">
					     order by ${sort} ${order}
				     </if>
				   ) r
			 ) a
		where a.rn > (#{page} - 1) * 10
		<![CDATA[
			and   a.rn <= #{page} * 10
		]]>
	</select>
	<!-- 검색&정렬 상품 목록 숫자 -->
	<select id="sortItemListCnt" resultType="int" parameterType="com.yedam.vo.ItemListVO">
		select count(item_number)
		from team_item
		<where>
			categories = #{categories}
			and trade = #{trade}
		    and game = #{game}
		    <if test="servers != null">
				and servers = #{servers}
			</if>
			<if test="searchData != null">
				and ${searchType} like '%'||#{searchData}||'%'
			</if>
		</where>
	</select>

	<!-- 상품 상세 -->
	<select id="selectItem" resultType="com.yedam.vo.ItemVO"
		parameterType="int">
		select *
		from team_item
		where item_number = #{itemNumber}
	</select>


	<!-- 상품 구매 - item count 변경 -->
	<update id="updateItemCount" parameterType="com.yedam.vo.BillsVO">
		update team_item 
		set count=count-#{count} 
		where item_number=#{itemNumber}
	</update>
	<!-- 상품 구매 - bills 추가 -->
	<insert id="insertBillsItem" parameterType="com.yedam.vo.BillsVO">
		insert into team_bills ( bills_number, seller, buyer, item_number, item_name, count, total, image, trade )
		values ( bills_seq.nextval, #{seller}, #{buyer}, #{itemNumber}, #{itemName}, #{count}, #{total}, #{image}, #{trade} )
	</insert>
	
	
	<!-- 구매 목록 -> 거래 신청 목록 -->
	<select id="selectBuyList" resultType="com.yedam.vo.BillsVO"
		parameterType="string">
		select *
		from team_bills
		where buyer = #{buyer}
		and pay_step != 'completed'
	</select>
	
	<!-- 구매 목록 단건 조회 -->
	<select id="selectBills" resultType="com.yedam.vo.BillsVO" parameterType="int">
		select *
		from team_bills
		where bills_number = #{billsNumber}
	</select>
	
	<!-- trade:sell -> buyer(구매 신청자) 마일리지 감소 -->
	<!-- trade:buy -> buyer(판매 신청자) 마일리지 증가 -->
	<!-- 구매 확인 : 마일리지 감소 -->
	<update id="updateBuyConfirm" parameterType="com.yedam.vo.BillsVO">
		update team_member
		<if test='trade.equals("sell")'>
			set mileage = mileage - #{total}
		</if>
		<if test='trade.equals("buy")'>
			set mileage = mileage + #{total}
		</if>
		where member_id = #{buyer}
	</update>
	<!-- trade:sell -> seller(판매 작성자) 마일리지 증가 -->
	<!-- trade:buy -> seller(구매 작성자) 마일리지 감소 -->
	<!-- 구매 확인 : 마일리지 증가 -->
	<update id="updateSellConfirm" parameterType="com.yedam.vo.BillsVO">
		update team_member
		<if test='trade.equals("sell")'>
			set mileage = mileage + #{total}
		</if>
		<if test='trade.equals("buy")'>
			set mileage = mileage - #{total}
		</if>
		where member_id = #{seller}
	</update>
	<!-- 구매 확인 : 거래 완료 -->
	<update id="updateBillsConfirm" parameterType="com.yedam.vo.BillsVO">
		update team_bills
		set pay_step = 'completed', pay_date = sysdate
		where bills_number = #{billsNumber}
	</update>
	
	<!-- 구매 취소 : 아이템 카운트 초기화 -->
	<update id="cancelItemCount" parameterType="com.yedam.vo.BillsVO">
		update team_item
		set count = count + #{count}
		where item_number = #{itemNumber}
	</update>
	<!-- 구매 취소 : bills 삭제 -->
	<delete id="deleteBills" parameterType="com.yedam.vo.BillsVO">
		delete team_bills
		where bills_number = #{billsNumber}
	</delete>

	<!-- 구매 마일리지 체크 -->
	<select id="buyMileageCheck" resultType="int" parameterType="string">
		select mileage
		from team_member
		where member_id = #{logId}
	</select>
</mapper>