<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.item.ItemMapper">
	
	<select id="select">
		select *
		from team_item
	</select>
	
	<insert id="insertItem" parameterType="item">
		insert into team_item (item_number, game, categories, item_name, item_info, count, seller, price, servers, image, trade)
		values (ITEM_NO_SEQ.nextval, #{game}, #{categories}, #{itemName}, #{itemInfo}, #{count}, #{seller}, #{price}, #{servers}, #{image}, #{trade})
	</insert>


</mapper>