<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.item.ItemMapper">
	
	<select id="select">
		select *
		from team_item
	</select>
	
	<select id="mySellList" resultType="item" parameterType="String">
		select *
		from team_item
		where seller = #{logId}
		and trade = 'sell'
		order by up_date desc
	</select>
	
	<select id="mySellListBuy" resultType="item" parameterType="String">
		select *
		from team_item
		where seller = #{logId}
		and trade = 'buy'
		order by up_date desc
	</select>
	
	<select id="sellerHistory" resultType="com.yedam.vo.BillsVO" parameterType="String">
		select *
		from team_bills
		where seller = #{logId}
		and pay_step = 'processing'
	</select>
	
	
	<insert id="insertItem" parameterType="item">
		insert into team_item (item_number, game, categories, item_name, item_info, count, seller, price, servers, image, trade)
		values (ITEM_NO_SEQ.nextval, #{game}, #{categories}, #{itemName}, #{itemInfo}, #{count}, #{seller}, #{price}, #{servers}, #{image}, #{trade})
	</insert>
	
	<update id="itemUpdate" parameterType="item">
		update	team_item
		set		item_name = #{itemName}
				<if test="servers != null">
					,servers = #{servers}
				</if>
				,item_info = #{itemInfo}
				,price = #{price}
				,count = #{count}
				,image = #{image}
				,up_date = sysdate
		where	item_number = #{itemNumber}
					
	</update>
	
	<delete id="itemDelete" parameterType="item">
		delete from
		team_item
		where item_number = #{itemNumber}
	</delete>
	
	<update id="payStepUpdate" parameterType="String">
		update 	team_bills
		set		pay_step = #{payStep}
		where	item_number = #{itemNum}
	</update>
	
	<delete id="payStepDelete" parameterType="String">
		delete from
		team_bills
		where item_number = #{itemNum}
	</delete>

	<!-- 수정 -->
	<update id="updatePayStep" parameterType="int">
		update team_bills
		set pay_step = 'deal'
		where bills_number = #{billsNumber}
	</update>
	
	<select id="totalCnt">
		select count (*)
		from team_item
		where seller = #{logId}
		and trade = 'sell'
	</select>
	
	<select id="sellListPage" resultType="item" parameterType="com.yedam.common.SearchDTO">
		select a.*
		from (	select rownum rn, r.*
       			from team_item r
        		where seller = #{keyword}
        		and trade = 'sell'
        		order by up_date desc) a
		where a.rn > (#{page} -1) * 5
		<![CDATA[	
		and a.rn <= #{page} * 5
		]]>
	</select>
	
	<select id="buyListPage" resultType="item" parameterType="com.yedam.common.SearchDTO">
		select a.*
		from (	select rownum rn, r.*
       			from team_item r
        		where seller = #{keyword}
        		and trade = 'buy'
        		order by up_date desc) a
		where a.rn > (#{page} -1) * 5
		<![CDATA[	
		and a.rn <= #{page} * 5
		]]>
	</select>
	
	
	<select id="totalSell" parameterType="String">
	select count(*)
	from team_item
	where seller = #{logId}
	and trade = 'sell'
	</select>
	
	<select id="totalBuy" parameterType="String">
	select count(*)
	from team_item
	where seller = #{logId}
	and trade = 'buy'
	</select>

</mapper>