@charset "UTF-8";

.modal-dialog{
	margin: 0 220px;
	max-width: 100%;
	height: 100%;
}
.modal-content{
	width: 100%;
	height: 90%;
}
.modal-body{
	-ms-overflow-style: none;
}
.modal-body::-webkit-scrollbar {
  display: none;
}
.modal-chat{
	overflow: auto;
	height: 500px;
	-ms-overflow-style: none;
}
.modal-chat::-webkit-scrollbar {
  display: none;
}
.modal-input{
	overflow: hidden;
	height: 100px;
}
.float-reft{
	box-sizing: border-box;
	float: left;
	display: block;
	width: 80%;
	height: 100%;
	border: 1px, solid, black;
	-ms-overflow-style: none;
}
.float-reft::-webkit-scrollbar {
  display: none;
}
.btnSize{
	float: right;
	width: 20%;
	height: 100% !important;
	text-align: center;
	border: none;
}
.rightP{
	text-align: right;
}
.leftP{
	text-align: left;
}
.chatting{
	border: 1px, solid, #ddd;
	border-radius: 2px;
	width: 62.5%;
	display: inline-block;
}
.floatLeft{
	text-align: left;
}
.floatRight{
	text-align: right;
}