@charset "UTF-8";

.table-name1{
	display:block; 
	width: 70%; 
	text-align:center; 
	margin: 0 auto; 
	font-size:20px; 
	font-weight:bold;
	background: #fb246a;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 1px;
	line-height: 0;
	padding: 27px 44px;
    border-radius: 0px;
    position: relative;
    border: 0;
    overflow: hidden;
}
#rankingList{
	margin: 0 auto; 
	width: 70%; 
	padding: 0;
	overflow:hidden; 
	margin-bottom: 10px;
	-ms-overflow-style: none;
}
#rankingList::-webkit-scrollbar {
  display: none;
}
#rankingList .page-float{
	float:left;
	width:50%;
	display:block;
}
.section-top-border{
	padding: 0;
}
#rankingList .progress-table-wrap{
	-ms-overflow-style: none;
}	
#rankingList .progress-table-wrap::-webkit-scrollbar{
  display:none;
}

#rankingList .progress-table-wrap{
	width: 100%;
	min-width: 300px
}

#rankingList .serial{
	width: 20%;
}
#rankingList .country{
	width: 50%;
}
#rankingList .percentage{
	width: 30%;
}
.table-name2{
	display:block; 
	width: 70%; 
	text-align:center; 
	margin: 0 auto; 
	font-size:20px; 
	font-weight:bold;
	background: none;
	color: #fb246a;
	text-transform: capitalize;
	letter-spacing: 1px;
	line-height: 0;
	padding: 27px 44px;
    border-radius: 0px;
    position: relative;
    border: 1px solid #fb246a;
    overflow: hidden;
}
#randomList{
	margin: 0 auto; 
	width: 70%;
	padding: 0;
	margin-bottom: 10px;
}

#randomList .progress-table-wrap {
	overflow-x: hidden;
	width: 100%;
}

#randomList .itemList {
	min-width: 100%;
}

#randomList .itemList .table-head, .table-row {
	width: 100%;
	color: #415094;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: 500;
	color: #415094
}

#randomList .itemList .table-head div, .table-row div {
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0 5px;
}

#randomList .table-head {
	height: 41px;
}

#randomList .table-row {
	height: 71px;
}

#randomList .listGame {
	width: 10%;
}
#randomList .listServer {
	width: 10%;
}
#randomList .listTitle {
	width: 50%;
}

#randomList .listPrice {
	width: 10%;
}

#randomList .listSeller {
	width: 10%;
}

#randomList .listDate {
	width: 15%;
}

