@charset "UTF-8";

.table-name1{
	display:block; 
	width: 70%; 
	text-align:center; 
	margin: 0 auto; 
	font-size:20px; 
	font-weight:bold;
	background: #fb246a;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 1px;
	line-height: 0;
	padding: 27px 44px;
    border-radius: 0px;
    position: relative;
    z-index: -1;
    border: 0;
    overflow: hidden;
}
#rankingList{
	margin: 0 auto; 
	width: 70%; 
	padding: 0;
	overflow:hidden; 
	margin-bottom: 10px;
	-ms-overflow-style: none;
}
#rankingList::-webkit-scrollbar {
  display: none;
}
.page-float{
	float:left;
	width:50%;
	display:block;
}
.section-top-border{
	padding: 10px 0;
}
.progress-table-wrap{
	-ms-overflow-style: none;
}	
.progress-table-wrap::-webkit-scrollbar{
  display:none;
}

.progress-table-wrap{
	width: 100%;
	min-width: 300px
}

.serial{
	width: 20%;
}
.country{
	width: 50%;
}
.percentage{
	width: 30%;
}
.table-name2{
	display:block; 
	width: 70%; 
	text-align:center; 
	margin: 0 auto; 
	font-size:20px; 
	font-weight:bold;
	background: none;
	color: #fb246a;
	text-transform: capitalize;
	letter-spacing: 1px;
	line-height: 0;
	padding: 27px 44px;
    border-radius: 0px;
    position: relative;
    z-index: -1;
    border: 1px solid #fb246a;
    overflow: hidden;
}
#randomList{
	margin: 0 auto; 
	width: 70%;
	padding: 0;
	margin-bottom: 10px;
}